# {{ ansible_managed }}

[{{ mysql_repo_uid }}]
name = {{ mysql_repo_name }}
baseurl = {{ mysql_repo_baseurl }}
gpgkey = {{ mysql_repo_gpgkey }}
gpgcheck = {{ mysql_repo_gpgcheck }}
enabled = {{ mysql_repo_enabled }}